<div class="modal fade" id="edit-user-profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div style="background-color: white;">
        <div class="modal-body">
          <%= simple_form_for(user) do |l| %>
            <div class='col-sm-14 ' style="background-color: white;" align="center">
              <div class="form-inline" data-inline="true">
                <%= l.input :username, as: :string%>
                <%= l.input :mybio, as: :text  %>

            <h4>Add a picture!</h4>
            <label for="eco_action_photo" class="custom-file-upload button">
                 picture
            </label>

            <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/>
            <%= l.input :photo, label: false, input_html: { class: "button-photo" } %>
            <%= l.input :photo_cache, as: :hidden %>

            <input id="eco_action_photo" type="file"/>
                <%= l.submit  "Yeeppee! ", class: "btn-medium " %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      </div>
    </div>
  </div>
