<div class='gradient'>
  <%= link_to user_path(current_user), class:'back' do %>
      <i class="far fa-times-circle"></i>
    <% end %>

   <h1 id="username"> <%= @user.username %></h1>
   <p id="bio"> <%= @user.mybio %></p>

  <div class='circle-container' style="top:12em;">
    <%= image_tag("earth", class:'planet small') %>
  </div>

<%= image_tag("https://kitt.lewagon.com/placeholder/users/camilleFr", class:'avatar avatar_position') %>
<button class="button button_position" data-toggle="modal" data-target="#edit-user-profile">Edit my Profile</button>

</div>
<%= render 'form', user: @user %>
