<div class='gradient'>
  <div class='circle-container' style="top:15em;">
    <%= image_tag "earth.png", class:'planet small' %>
  </div>
  <h1 id="Welcome">Welcome</h1>

    <p id='footprint_title'>Get started !</p>
    <%= link_to surveys_path, method: :post, class:'footprint' do   %>
    <%= image_tag("footprint.png") %>
    <% end %>

    <p id='solutions_title'>Eco-actions</p>
    <%= link_to eco_actions_path, class:'solutions' do %>
    <%= image_tag("solutions.png") %>
    <% end %>

    <p id='profile_title'>My profile</p>
    <%= link_to profile_path(current_user), class:'user' do  %>
    <%= image_tag("profile.png") %>
    <% end %>

    <p id='result_title'>My results</p>
    <% @user.surveys.first.total_user_score %>
    <%= link_to results_user_path(@user),class:'stat' do %>
    <%= image_tag("stat.png") %>
    <% end %>
</div>




