<% if current_user %>
    <div class='navbar-container'>
    <div class='earth-container'>

    <div class="button-navbar button-profile box_item">
      <% if current_user.nil? %>
        <%= link_to user_session_path do %>
          <%= image_tag("profile.png") %>
        <% end %>
      <% else %>
        <%= link_to profile_path(current_user) do%>
          <%= image_tag("profile.png") %>
        <% end %>
      <% end %>
      <p>Profile</p>
    </div>

      <div class="button-navbar button-survey-categories box_item" >
          <%= link_to survey_path(@survey) do   %>
          <%= image_tag("footprint.png") %>
          <p>Start!</p>
      <% end %>
      </div>

    <div class="button-navbar button-results box_item">
        <%= link_to members_path do %>
        <%= image_tag("stat.png") %>
      <% end %>
      <p>Community</p>
    </div>

    <div class="button-navbar button-ecoactions box_item">

      <%= link_to eco_actions_path do %>
        <%= image_tag("solutions.png") %>
      <% end %>
      <p>Eco-actions</p>
  </div>

  </div>


  <%= image_tag("earth1.svg", class:'planet-navbar') %>
  <div class='click-container'></div>
  </div>
<% end %>
