<div class='navbar-container'>
  <div class='earth-container'>

  <div class="button-navbar button-profile box_item">
    <% if current_user.nil? %>
      <%= link_to user_session_path do %>
        <%= image_tag("profile.png") %>
      <% end %>
    <% else %>
      <%= link_to profile_path(current_user) do%>
        <%= image_tag("profile.png") %>
      <% end %>
    <% end %>
    <p>Profile</p>
  </div>

  <div class="button-navbar button-survey-categories box_item" >
    <% if @survey.nil? %>
      <%= link_to surveys_path, class:'footprint' do   %>
      <%= image_tag("footprint.png") %>
      <p>Start!</p>
      <% end %>
    <% else %>
      <%= link_to user_session_path(@survey), class:'footprint' do   %>
      <%= image_tag("footprint.png") %>
      <p>Start!</p>
    <% end %>
  <% end %>
  </div>

  <div class="button-navbar button-results box_item">
   <% if @user.present? %>
        <%= link_to members_path(@user),class:'stat' do %>
        <%= image_tag("stat.png") %>
        <% end %>
      <% else %>
        <%= link_to members_path(@user),class:'stat' do %>
        <%= image_tag("stat.png") %>
      <% end %>
    <% end %>
    <p>Community</p>
  </div>

  <div class="button-navbar button-ecoactions box_item">

    <%= link_to eco_actions_path, class:'solutions' do %>
      <%= image_tag("solutions.png") %>
    <% end %>
    <p>Eco-actions</p>

  </div>

  <%= image_tag("earth.png", class:'planet-navbar') %>

  </div>
</div>
