<div class='gradient'>
  <div class="icon">
    <p> <%=  link_to design_path do%>
        <%= image_tag("Food") %>
      <% end %>
    </p>
    <p> <%=  link_to design_path do%>
        <%= image_tag("House") %>
      <% end %>
    </p>
    <p> <%=  link_to design_path do%>
        <%= image_tag("Transport") %>
      <% end %>
    </p>
    <p> <%=  link_to design_path do%>
        <%= image_tag("Trash") %>
      <% end %>
    </p>

  </div>
  <div class="typo">

    <div class="typo_test_1 ">
      <h1 >Food</h1>
      <h1>Transport</h1>
      <h1>Housing</h1>
      <p> Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet, non quo modo efficiatur concludaturque ratio tradit, non qua via captiosa solvantur ambigua distinguantur ostendit.</p>
    </div>
  <div class="button">
    <p class="btn">Click me !</p>
  </div>
   </div>


</div>
