
<div class="buttons-eco btn">
  <%= link_to user_path(current_user), class:'button' do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>

  <%= link_to new_eco_action_path, class:'button' do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>

<div class="container-card">
    <div class="row">
      <% @eco_actions.each do |eco_action| %>
      <div class="col-xs-12">
          <div class="card" >
            <% if eco_action.photo.present? %>
              <div class="eco-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path eco_action.photo, height: 100, width: 100 %>')">
              </div>
            <% else  %>
              <div class="eco-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'photo_icon_2.jpg', height: 100, width: 100 %>')">
                </div>
            <% end %>
            <div class="card-description">
              <div class="title">
                <h5><%= eco_action.title %></h5>
              </div>
                <div class="category">
                  <% if eco_action.eco_category.present? %>
                  <%= image_tag "#{eco_action.eco_category}.png", height: 40 %>
                  <% else  %>
                  <%= image_tag "interogation.jpeg", height: 30 %>
                  <% end %>
                </div>
            </div>
            <%= link_to '', eco_action_path(eco_action.id), class: "card-link" %>
          </div>
      </div>
        <% end %>
    </div>
  </div>
