
<div class="container">



    <%= link_to eco_actions_path, class:'button' do %>
    <i class="fas fa-arrow-left"></i>
    <% end %>
    <div class="row">
      <div class="card-detailed col-xs-12">

              <% if @eco_action.photo.present? %>
                <div class="eco-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @eco_action.photo, height: 100, width: 100, crop: :fill %>')">
                </div>
              <% else  %>
              <% end %>

              <div class="card-other">
                <h3>Title: <%= @eco_action.title %></h3>
                <p>Date of creation: <%= @eco_action.created_at.strftime("%Y-%m-%d") %></p>
                <h5><strong>Title:  </strong><%= @eco_action.title %></h5>
                <h5><strong>Description:  </strong><%= @eco_action.description %></h5>
              </div>

      </div>
    </div>

</div>

