
<%= simple_form_for(survey) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% case params[:category] %>
  <% when "energy" %>
    <%= render 'surveys/form_energy', f: f, survey: @survey %>
  <% when "transport" %>
    <%= render 'surveys/form_transport', f: f, survey: @survey %>
  <% end %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
