<div class="choices" id="choices_button">
  <%= f.input :housing_type, as: :radio_buttons, collection: Survey::TYPE_HOUSE, wrapper: :vertical_collection_inline, label: "What is your accomodation type?" %>
</div>
<div class="choices" id="choices_button">
 <%= f.input :area, as: :radio_buttons, collection: Survey::AREA, wrapper: :vertical_collection_inline, label: "What is the surface area of your accomodation?" %>
</div>
<div class="choices" id="choices_button">
  <%= f.input :heat_type, as: :radio_buttons, collection: Survey::HEAT_TYPE, wrapper: :vertical_collection_inline, label: "What type of heating do you use?" %>
</div>
<div class="choices" id="choices_button">
  <%= f.input :house_inhabitants, as: :radio_buttons, collection: Survey::ADULTS_INHABITANTS, wrapper: :vertical_collection_inline, label:"How many adults live in your house?" %>
</div>
<div class="choices" id="choices_button">
  <%= f.input :house_inhabitants, as: :radio_buttons, collection: Survey::CHILDREN_INHABITANTS, wrapper: :vertical_collection_inline, label:"How many children live in your house?" %>
</div>
<div class="choices" id="choices_button">
  <%= f.input :house_temp, as: :radio_buttons, collection: Survey::TEMPERATURE, wrapper: :vertical_collection_inline, label:"What is your house temperature?" %>
</div>
<%#= f.input :energy_class, as: :radio_buttons, collection: Survey::ISOLATION, wrapper: :vertical_collection_inline %>
