<div class="gradient">
   <%= link_to survey_path(current_user), class:'back' do %>
      <i class="far fa-times-circle"></i>
    <% end %>
<%= simple_form_for(survey) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% case params[:category] %>
    <% when "energy" %>
    <%= render 'surveys/form_energy', f: f, survey: @survey %>
    <% when "transport" %>
    <%= render 'surveys/form_transport', f: f, survey: @survey %>
    <% when "food" %>
    <%= render 'surveys/form_food', f: f, survey: @survey %>
    <% when "investment" %>
    <%= render 'surveys/form_investment', f: f, survey: @survey %>
    <% when "waste" %>
    <%= render 'surveys/form_waste', f: f, survey: @survey %>
  <% end %>


  <div class="form-actions" style="width: 30vw; margin-bottom: 10vh;">
    <%= f.button :submit, 'Save', class:'next_button_style button_save' %>
    <% end %>
  </div>

</div>
