<div class='gradient'>
  <div class='circle-container'>


      <%= image_tag("Earth", class:'planet') %>

      <%=  link_to design_path , class:'deg0' do%>
        <%= image_tag("Food") %>
      <% end %>
      <%=  link_to design_path, class:'deg90' do%>
        <%= image_tag("Trash") %>
      <% end %>

      <%=  link_to edit_survey_path(@survey, category: 'transport'), class:'deg180' do%>
          <%= image_tag("Transport") %>
      <% end %>
      <%=  link_to edit_survey_path(@survey, category: 'energy'), class:'deg270' do%>
          <%= image_tag("House") %>
      <% end %>
  </div>
</div>

<div class="buttons-edit">

  <%= link_to 'Edit food', edit_survey_path(@survey, category: 'food') %>
  <%= link_to 'Edit investment', edit_survey_path(@survey, category: 'investment') %>
  <%= link_to 'Edit waste', edit_survey_path(@survey, category: 'waste') %>
  <%= link_to 'Back', member_path(current_user) %>
</div>

