<div class='gradient'>
  <div class='circle-container'>


      <%= image_tag("Earth", class:'planet') %>

      <%=  link_to edit_survey_path(@survey, category: 'food') , class:'deg0' do%>
        <%= image_tag("Food") %>
      <% end %>
      <%=  link_to edit_survey_path(@survey, category: 'waste'), class:'deg90' do%>
        <%= image_tag("Trash") %>
      <% end %>

      <%=  link_to edit_survey_path(@survey, category: 'transport'), class:'deg180' do%>
          <%= image_tag("Transport") %>
      <% end %>
      <%=  link_to edit_survey_path(@survey, category: 'energy'), class:'deg270' do%>
          <%= image_tag("House") %>
      <% end %>
  </div>
</div>

  <%= link_to 'Back', member_path(current_user) %>
</div>

