<div class='gradient'>
    <h1 class='header margin'> Evaluate <br> your <br> impact</h1>
     <p id='pick'>Pick a category</p>
    <%= link_to user_path(current_user), class:'back' do %>
      <i class="far fa-times-circle"></i>
    <% end %>
    <div class='circle-container'>

      <%= image_tag("earth.png", class:'planet') %>

      <%=  link_to edit_survey_path(@survey, category: 'food') , class:'deg0' do%>
        <%= image_tag("food.png") %>
      <% end %>
      <%=  link_to edit_survey_path(@survey, category: 'transport'), class:'deg90' do%>
        <%= image_tag("transport.png") %>
      <% end %>
      <%=  link_to edit_survey_path(@survey, category: ' waste'), class:'deg180' do%>
        <%= image_tag("trash.png") %>
      <% end %>
      <%=  link_to edit_survey_path(@survey, category: 'energy'), class:'deg270' do%>
        <%= image_tag("house.png") %>
      <% end %>
  </div>
</div>

</div>


<%= @survey.food_score %>
