<div class="gradient">
  <h2 class="text-center">My friends</h2>
  <% @friends.each do | friend |%>



<div class="message" style="display:flex; justify-content: space-between; align-items: center">

      <% if friend.photo.present? %>
        <div class="avatar-small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path friend.photo, height: 100, width: 100 %>')">
        </div>
        <% else %>
        <div class="avatar-small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'photo_icon_2.jpg', height: 100, width: 100 %>')">
        </div>
        <% end %>

      <div class="center" style="text-align:center; display:flex; flex-direction:column;">
          <div class="message-name" style="text-align: left">
            <h3><%= friend.username %></h3>
          </div>
          <div id="score-X" style="display:flex; align-items:center; text-align:center;">
            <div style="font-size:15px">Score</div>
            <div style="border-style:solid; border-color: white; border-radius:20px; padding:5px; margin-left:10px; font-size:14px">
              <% if friend.surveys.empty? || friend.surveys.last.total_user_score.nil? %>
                0
              <% else %>
                <%= friend.surveys.last.total_user_score %>
              <% end %>
            </div>

          </div>
      </div>


        <div class="right" style="width: 80px; align-items:right; display:flex; flex-direction:column;">
          <div class="icons">
            <a onclick="window.open('http://www.facebook.com/sharer.php?u=<%= request.original_url %>','newwindow');return false;">
              <i class="fab fa-facebook"></i>
            </a>

          </div>

        </div>
    </div>













  <% end %>
</div>

