<div class= gradient>
  <div>
  <!-- <div class="form-inline " > -->
    <%= form_tag members_path, method: :get, :class => "form-inline" do %>
    <%= text_field_tag :type,
       params[:type],
       class:"form-control input",
       # id: "flat_address",
        placeholder: "find your friend"%>

      <%= button_tag class: "button" do %>
        <%= icon('fa', 'search') %>
      <% end %>
    <% end %>
  </div>


  <p>Page Member</p>

  <% @users.each do | user |%>

    <div class="message">
      <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/camilleFr">
      <div class="message-name">
        <h3><%= user.username %></h3>
        <p><%= Date.today %></p>
      </div>
      <div class="message-body">
        <p><strong>I am not sure yet!</strong></p>

      </div>
      <div class="message-status">
        <p class="status pending">score</p>
        <p class="score"><%= user.surveys.last&.total_user_score %></p>
      </div>
    </div>
  <% end  %>
</div>
