<div class= gradient>



  <p class= text-center>My friends</p>

  <% @users.each do | user |%>

    <div class="message grad">
        <% if user.photo.present? %>
        <div class="avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path user.photo, height: 100, width: 100 %>')">
        </div>
        <% else %>
        <div class="avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'photo_icon_2.jpg', height: 100, width: 100 %>')">
        </div>
        <% end %>


      <div class="message-name">
        <h3><%= user.username %></h3>
        <p><%= Date.today %></p>
      </div>
      <div class="message-body">
        <p><strong>I am not sure yet!</strong></p>

      </div>
      <div class="message-status">
        <p class="status pending">score</p>
        <p class="score"><%= user.surveys.last&.total_user_score %></p>
      </div>
    </div>
  <% end  %>
</div>

