<div class='gradient'>
  <h1>Welcome</h1>
  <div class='circle-container'>
    <p id='footprint_title'>footprint</p>
    <%= image_tag("Earth", class:'planet') %>
    <%= image_tag("Footprint", class:'footprint deg0') %>
    <p id='solutions_title'>solutions</p>
    <%= image_tag("Solutions", class:'solutions deg90') %>
        <%= image_tag "http://kitt.lewagon.com/placeholder/users/camilleFr", class:'user' %>
  </div>
</div>

<%=  link_to 'questions', surveys_path, method: :post%>
